@model Vidly.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name'</h2>

@{
    var className = Model.Customers.Count > 0 ? "populer " : null;

}


@if (Model.Customers.Count == 0)
{
    <text> NO one rented the movie </text>

}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <il>@customer.Name</il>

        }

    </ul>
}
